.search form {
    width: 35%;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}

.search form span { display: none;}
.search .form-group { width: 75%;}

.search form input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 4%;
    outline: none;
    font-size: 20px;
}

.search .form-control { width: 25%;}

.search form button {
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
}
