.search .version {
    width: 20%;
    margin: 30px auto 5px;
}

.search .version select {
    width: 100%;
    padding: 5px 5%;
    outline: none;
}

.search form {
    width: 35%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
}

.search form span { display: none;}
.search .form-group { width: 75%;}

.search form input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 4%;
    outline: none;
    font-size: 20px;
}

.search .form-control { width: 25%;}

.search form button {
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
}
